Options -Indexes
<Files "error_log">
    Require all denied
</Files>
<FilesMatch "\.(?:log|bak|old|orig|sql)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index.php [L,QSA]
</IfModule>
